<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Motivation Balance</a>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated && !(userRole === 'ADMIN')">
          <a routerLink="/new-survey">Take a Survey</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated && !(userRole === 'ADMIN')">
          <a routerLink="/my-results">My Results</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated && userRole === 'MANAGER'">
          <a routerLink="/my-employees">My Employees</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated && userRole === 'ADMIN'">
          <a routerLink="/admin-tools">Admin Tools</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
           <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
