<div class="row">
  <div class="col-md-6">
    <h4 *ngIf="pathPart === 'employees-without-manager' ">Employees without manager:</h4>
    <h4 *ngIf="!(pathPart === 'employees-without-manager')">
      {{currentManager.firstName + ' ' + currentManager.lastName}}</h4>
    <h4>Choose employee to manage</h4>
    <a *ngFor="let emp of employees"
       style="cursor: pointer"
       class="list-group-item clearfix"
       [routerLink]="['/admin-tools', pathPart, emp.id]"
       routerLinkActive="active">
      <div class="pull-left">
        <p class="list-group-item-heading">{{emp.firstName + ' ' + emp.lastName + ' - ' + emp.empRole}}</p>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
