<div class="row">
  <div class="col-md-6">
    <h4 *ngIf="pathPart === 'employees-without-manager'"
        class="text-italic text-center">employees without manager:</h4>
    <h4 *ngIf="!(pathPart === 'employees-without-manager')" class="text-center">
      {{manager.firstName + ' ' + manager.lastName}}</h4>
    <div class="alert alert-info text-center" *ngIf="employees.length == 0">
      <h4>there are no specialists yet</h4>
    </div>
    <a *ngFor="let emp of employees"
       style="cursor: pointer"
       class="list-group-item clearfix"
       routerLink="{{ '/admin-tools/' + pathPart + '/' + manager.id + '/' +  emp.id  }}"
       routerLinkActive="active">
      <div class="pull-left">
        <p class="list-group-item-heading text-bit-bigger">{{emp.firstName + ' ' + emp.lastName}}</p>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-error-notification *ngIf="resolverFailed"></app-error-notification>
  </div>
</div>
