<div class="row">
  <div class="col-md-12">
    <a
      class="list-group-item"
      routerLink="/admin-tools/factors-managing"
      routerLinkActive="active">Factors Managing</a>
    <a
      class="list-group-item"
      routerLink="/admin-tools/stats"
      routerLinkActive="active">See Overall Statistic</a>
    <a
      class="list-group-item"
      routerLink="/admin-tools/employees-managing"
      routerLinkActive="active">Manage Employees</a>
    <a
      class="list-group-item"
      routerLink="/admin-tools/managers-list"
      routerLinkActive="active">Managers List</a>
  </div>
</div>
