<div class="row">
  <div class="col-md-12 text-center">
    <form  (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div class="col-md-12 list-group-item list-group-item-text"
           *ngFor="let factor of activeFactors">
        <p class="text-primary text-center"><span class="text-large">{{factor}}</span></p>
        <div class="radio-inline">
          <label>
            <input type="radio" ngModel name="{{factor}}" value="LIKE" required>LIKE
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" ngModel name="{{factor}}" value="NEUTRAL" required>NEUTRAL
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" ngModel name="{{factor}}" value="DISLIKE" required>DISLIKE
          </label>
        </div>
      </div>
      <br><br>
      <button type="submit" class="btn btn-success btn-block"
              [disabled]="!ngForm.valid"><span class="text-bigger">Send</span>
      </button>
    </form>
    <br>
    <div class="alert alert-success" *ngIf="successSend">
      <p>Result was successfully sent!</p>
    </div>
    <app-error-notification *ngIf=error [error]="error"></app-error-notification>
    <app-error-notification *ngIf=resolverFailed></app-error-notification>
  </div>
</div>
