<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>{{employee.firstName + ' ' + employee.lastName}}</legend>
      <a *ngIf="pathPart === 'employees-by-manager'" class="btn btn-link" (click)="onReleaseFromManager()">
          <span class="list-group-item list-group-item-warning">
            release from current manager
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onChangeRole()">
          <span class="list-group-item list-group-item-warning">
            make them manager
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onRemove()">
          <span class="list-group-item list-group-item-danger">
            remove specialist from base
          </span>
      </a><br>
    </fieldset>
  </div>
</div>
