<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>{{employee.firstName + ' ' + employee.lastName}}</legend>
      <button *ngIf="pathPart === 'employees-by-manager'"
              class="btn btn-block btn-warning text-center" (click)="onReleaseFromManager()">
        RELEASE FROM CURRENT MANAGER
      </button>
      <button class="btn btn-block btn-warning text-center" (click)="onChangeRole()">
        MAKE THEM MANAGER
      </button>
      <button class="btn btn-block btn-danger text-center" (click)="onRemove()">
        REMOVE USER
      </button>

      <button class="btn btn-block btn-info text-center" routerLink="assign-new-manager">
        ASSIGN NEW MANAGER
      </button>
      <button *ngIf="assignMode" [disabled]="!newManagerId"
              class="btn btn-block btn-success" (click)="onSaveAssignation()">
        SAVE
      </button>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-error-notification *ngIf="error" [error]="error"></app-error-notification>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>
