<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>{{employee.firstName + ' ' + employee.lastName}}</legend>
      <a *ngIf="pathPart === 'employees-by-manager'" class="btn btn-link" (click)="onReleaseFromManager()">
          <span class="list-group-item list-group-item-warning">
            release from current manager
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onChangeRole()">
          <span class="list-group-item list-group-item-warning">
            make them manager
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onRemove()">
          <span class="list-group-item list-group-item-danger">
            remove specialist from base
          </span>
      </a><br>
      <a class="btn btn-link">
          <span class="list-group-item list-group-item-warning"
                routerLink="assign-new-manager"
                routerLinkActive="active">
            assign new manager
          </span>
      </a><button *ngIf="assignMode"
                  [disabled]="!newManagerId"
                  class="btn btn-success" (click)="onSaveAssignation()">save</button>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-error-notification *ngIf="error" [error]="error"></app-error-notification>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>
