<div *ngFor="let stat of factorStats">
  <h3>{{stat.factorName}}</h3>
  <div class="percentage-block">
    <div class="like-block"
         [ngStyle]="{width: stat.likePercent + '%',
                     display: stat.likePercent < 0.1 ? 'none' : 'display'}">
      <span>LIKE: {{stat.likePercent}}%</span>
    </div>
    <div class="neutral-block"
         [ngStyle]="{width: stat.neutralPercent + '%',
                     display: stat.neutralPercent < 0.1 ? 'none' : 'display'}">
      NEUTRAL: {{stat.neutralPercent}}%
    </div>
    <div class="dislike-block"
         style="display: inline-block"
         [ngStyle]="{width: stat.dislikePercent + '%',
                     display: stat.dislikePercent < 0.1 ? 'none' : 'display'}">
      DISLIKE: {{stat.dislikePercent}}%
    </div>
  </div>
</div>
