<div class="row">
  <div class="col-md-12">
    <form class="form-inline" (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div class="form-group">
        <label>Factor Name
          <input type="text"
                 name="newFactorName"
                 class="form-control"
                 ngModel
                 required
                 minlength="2">
        </label>
      </div>
      <button
        style="margin-left: 10px; margin-bottom: 5px; "
        class="btn btn-success btn"
        type="submit"
        [disabled]="!ngForm.valid">Add New
      </button>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
        <tr class="active">
          <th class="text-center">Factor</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let factor of allFactors">
          <td>{{ factor.name }}</td>
          <td>{{ factor.status }}</td>
          <td>
            <button
              class="btn"
              [ngClass]="{'btn-danger': factor.status === 'ACTIVE',
                          'btn-success': factor.status === 'REMOVED'}"
              (click)="onChangeStatusClick(factor.name)">
              {{ factor.status === 'ACTIVE' ? 'Remove' : 'Activate' }}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
