<div class="row">
  <div class="col-md-12">
    <form class="form-inline" (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div class="form-group">
        <label>Enter name:
          <input type="text"
                 name="searchQuery"
                 class="form-control"
                 ngModel
                 required
                 minlength="2">
        </label>
      </div>
      <button
        style="margin-left: 10px; margin-bottom: 5px; "
        class="btn btn-success btn"
        type="submit"
        [disabled]="!ngForm.valid">Search
      </button>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead>
        <tr class="active">
          <th class="text-center">Name</th>
          <th class="text-center">Role</th>
          <th class="text-center">Manager</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of foundEmployees">
          <td>{{ emp.firstName + ' ' + emp.lastName }}</td>
          <td>{{ emp.empRole }}</td>
          <td>{{ getManagerNameById(emp.managerId) }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
