<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend>{{manager.firstName + ' ' + manager.lastName}}</legend>
      <a class="btn btn-link" [routerLink]="['/emps-with-res-by-manager', manager.id]">
          <span class="list-group-item list-group-item-info">
            see manager's employees list and their relevant results
          </span>
      </a><br>
      <a class="btn btn-link" [routerLink]="['/admin-tools', 'employees-by-manager', manager.id]">
          <span class="list-group-item list-group-item-info">
            manage their employees
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onChangeRole()">
          <span class="list-group-item list-group-item-warning">
            make them specialist
          </span>
      </a><br>
      <a class="btn btn-link" (click)="onRemove()">
          <span class="list-group-item list-group-item-danger">
            remove manager from base
          </span>
      </a><br>

    </fieldset>
  </div>
</div>
